version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: budge_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - budge_data_final_v1:/var/lib/postgresql/data

volumes:
  budge_data_final_v1: